html {
  font-size: 10px;
  /*background: url(https://image.freepik.com/free-photo/drum-chalk-sketch-on-blackboard_1379-353.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;*/
  background: url(https://image.freepik.com/free-photo/drum-chalk-sketch-on-blackboard_1379-353.jpg);
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-attachment: fixed;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  /*display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;*/
  justify-content: center;
}

.key {
  position: absolute;
  display: inline-block;
  /*border: .4rem solid black;
  border-radius: .5rem;*/
  margin: 1rem;
  font-size: 1.5rem;
  /*padding: 1rem .5rem;*/
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #ff00007a;
  /*background: rgba(0,0,0,0.4);*/
  /*text-shadow: 0 0 .5rem black;*/
  /*border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;*/
}

.playing {
  transform: scale(1.1);
  border-color: #ff0000;
  box-shadow: 0 0 6rem #ff0000;
  border-radius: 50%;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: transparent;
}